* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;    
}

*, input, textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    color: #121212
}

.navigation-menu {    
    background-color: #24292e;    
    margin-bottom: 20px;
}

.navigation-menu > div {
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    margin: 0 auto;
    color: #ffffff;
}

.navigation-menu nav {
    display: flex;
    align-items: center;
}

.navigation-menu nav .logo h1 {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff
}

.navigation-menu nav .logo, .navigation-menu nav a {
    margin-right: 16px
}

.navigation-menu a {
    text-decoration: none;
    color: #ffffff;
    padding: 12px 0;
}

.navigation-menu a:hover {
    opacity: .8;
}

a.secondary-button {
    border: 1.5px solid #ffffff;
    border-radius: 8px;
    padding: 12px;
    margin-left: 12px
}

footer {
    padding: 16px;
    background: #f9f9ff;
    border-top: 1.5px solid #f0effa 
}

.body-content {
    min-height: calc(100vh - 74px - 51.5px - 20px);
}